{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Options</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <header class="header">
    <image class="logo" src="../static/logo.png">
    
    
  </header>
  <div class="container2">
    <div class="left-section2">
      <center><h2>What would you like to do with your file?</h2></center>
      <div class="actions">
        <button class="btn action" onclick="chooseOption('summary')">Summarize</button>
        <button class="btn action" onclick="chooseOption('podcast')">Create Podcast</button>
        <button class="btn action" onclick="chooseOption('quiz')">Generate Quiz</button>
        <button class="btn action" onclick="chooseOption('flashcard')">Generate FlashCard</button>
        <button class="btn return" onclick="goBack()">Return</button>
        
        <button class="btn primary" onclick="toggleBackground22()">Change mode</button>
      </div>
    </div>
    <div class="right-section2">
      <h2>File Details</h2>
      <div id="file-preview">
        <p id="file-name"></p>
        <p id="file-type"></p>
        <p id="file-size"></p>
        <div id="file-content"></div>
      </div>
    </div>
  </div>

  <script src="{% static 'file-options.js' %}"></script>
  <script>
    let isDefaultBackground = true;

    function toggleBackground22() {
      if (isDefaultBackground) {
        // Switch to the new background
        document.body.style.backgroundImage = "url('../static/light.jpg')";

      } else {
        // Switch back to the default background
        document.body.style.backgroundImage = "url('../static/wallpaperflare.com_wallpaper.jpg')";

      }
      // Toggle the state
      isDefaultBackground = !isDefaultBackground;
    }
  </script>
</body>
</html>
